# Editor
*~
*.swp
*.tmp
*-swp
*-tmp
*.log

# Rust
/target/
**/target/

/Cargo.lock
**/Cargo.lock

# Container
.cargo.toml.*
/configs
/secrets

# Local Testing
/*config.toml
**/*config.toml
/*config.yaml
**/*config.yaml
